{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>天大地大臺科大</title>
  <meta property="og:image" content="{% static 'image/thumbnail.png'%}">
  {% block header%}
  {% endblock %}
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/style.css'%}">


</head>

<body>
  {% include 'layout/nav.html'%}
  <div class="container">
    {% block content%}
    {% endblock %}
  </div>

  {% include 'layout/footer.html'%}
</body>

{% block footer %}
{% endblock %}

</html>