<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/NTUST-Emblem.png/220px-NTUST-Emblem.png"
          alt="">
        <h2 class="title is-4" style="margin-left: 10px;">臺科併校小幫手</h2>
      </a>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" href="https://hackmd.io/@hanklutw/By7vG24zH">
        說明
      </a></div>
  </nav>
</div>